<script src="./Ee.js"></script>
<template>
    <div id='Ee' :xid='xid' class='full'>
        <div class='mainBox'>
            <div class="sideBar">
                <div style='height:4px'></div>
                <div class='btnGrp1'>
                    <el-popover ref="accBtnPop" placement="right" width="auto" v-model="accBtnPopVis" trigger="hover">
                        <div v-if='!accInfo' class="popTitle">点击按钮注册或登录，获得更多功能</div>
                        <div v-if='accInfo'>
                            <div class="popTitle">已登录【{{accInfo.name||'未命名'}}】</div>
                            <div class="popBody">
                                <div>点击按钮设置名称和主页</div>
                                <br>
                                <div>经验【&nbsp;<b>{{accInfo.exp}}</b>&nbsp;】</div>
                                <div>码币【&nbsp;<b>{{Math.floor(accInfo.coin)}}</b>&nbsp;】</div>
                            </div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='accountDialogConf.show=true' v-popover:accBtnPop>
                        <i class="fa fa-user" v-if='!accInfo'></i>
                        <img v-if='accInfo' v-bind:src='accInfo.avatar' class="avatarMini">
                    </el-button>

                    <el-popover ref="saveBtnPop" placement="right" width="auto" v-model="accBtnPopVis" trigger="hover">
                        <div v-if='!accInfo'>你还没注册和登录</div>
                        <div v-if='!accPage'>您还没设定保存页面地址</div>
                        <div v-if='accInfo&&accPage'>
                            <div class="popTitle">
                                <span>保存到&nbsp;</span>
                                <a v-bind:href="'http://'+accInfo.name+'.10knet.com'+(accInfo.name==accPage.name?'':'/'+accPage.name)" target="_blank">                              {{accInfo.name+'.10knet.com'+(accInfo.name==accPage.name?'':'/'+accPage.name)}}</a></div>
                            <div class="popBody">
                                <div>点击按钮立即保存</div>
                                <br>
                                <el-button type='primary' size='small' @click='setAccPageDialogConf.show=true'>设置保存地址</el-button>
                            </div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' v-show='accInfo' @click='saveAccPage' v-popover:saveBtnPop><i class="fa fa-save"></i></el-button>

                    <el-tooltip v-if=false class="item" effect="light" content="我的文件列表" placement="left-end">
                        <el-button class='rbtn'><i class="fa fa-list-ul"></i></el-button>
                    </el-tooltip>

                    <el-popover ref="lineJokePop" placement="right" width="auto" v-model="lineJokePopVis" trigger="hover">别看我，我只是条无辜的分割线</el-popover>
                    <div style="margin:12px 12px;height:1px;background:#666" v-popover:lineJokePop></div>

                    <el-popover ref="tmpBtnPop" placement="right" width="auto" v-model="tmpBtnPopVis" trigger="hover">
                        <div class="popTitle">不知从何开始？点击浏览代码模版</div>
                        <div class="popBody">
                            <div>您可以从各种模版一键导入代码</div>
                            <div>然后在模版基础上修改编写</div>
                        </div>
                    </el-popover>
                    <el-button  id='barTempBtn' class='rbtn' @click='pageTempDialogConf.show=true' v-popover:tmpBtnPop><i class="fa fa-th-large"></i></el-button>

                    <el-popover ref="setBtnPop" placement="right" width="auto" v-model="setBtnPopVis" trigger="hover">
                        <div class="popTitle">修改页面标题？在这里设置更多！</div>
                        <div class="popBody">
                            <div>页面包含head,css,body,js四个部分</div>
                            <div>您可以在head中设置页面标题文字或引入其他文件</div>
                            <div>点击按钮打开head代码编辑窗口</div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='setDialogConf.show=true' v-popover:setBtnPop><i class="fa fa-gear"></i></el-button>

                    <el-popover ref="picBtnPop" placement="right" width="auto" v-model="picBtnPopVis" trigger="hover">
                        <div class="popTitle">想使用自己的图片？点这里上传！</div>
                        <div class="popBody">
                            <div>您可以点击按钮选择自己的图片上传</div>
                            <div>上传后弹出图片的链接地址</div>
                            <div>可以复制到任意&lt;img&gt;标记的src属性中</div>
                            <div v-if='!accInfo'>未登录用户每文件最大{{$xglobal.conf.set.userUploadMaxSizeStr}}</div>
                            <div v-if='accInfo'>注册用户每文件最大{{$xglobal.conf.set.accUploadMaxSizeStr}}</div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='selectUploadFile' v-popover:picBtnPop><i class="fa fa-photo"></i></el-button>
                    <input id='uploadIpt' type='file' accept='image/*' @change='uploadIptChanged($event.target.files[0])' style='display:none' />

                    <el-popover ref="lineJokePop2" placement="right" width="auto" v-model="lineJokePop2Vis" trigger="hover">别看我，我只是条无辜的分割线</el-popover>
                    <div style="margin:12px 12px;height:1px;background:#666" v-popover:lineJokePop2></div>

                    <el-popover ref="shareBtnPop" placement="right" width="auto" v-model="shareBtnPopVis" trigger="hover">
                        <div class="popTitle">想把您的页面分享给朋友吗？点这里！</div>
                        <div class="popBody">
                            <div>支持QQ好友、QQ空间、微博、微信</div>
                            <div>微信扫码后打开，然后在右上角菜单下分享</div>
                            <div>您也可以直接把链接复制到任何地方打开观看</div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='openShareDialog' v-popover:shareBtnPop><i class="fa fa-share-alt"></i></el-button>


                    <el-popover ref="qqBtnPop" placement="right" width="auto" v-model="qqBtnPopVis" trigger="hover">
                        <div class="popTitle">加入QQ群，求助、答疑、一起交流</div>
                        <div class="popBody">
                            <div>点击一键加入我们的QQ群</div>
                            <div>或QQ搜索群：10knet编程爱好者</div>
                            <div>群号：571956473</div>
                        </div>
                    </el-popover>
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=9308aad4f0542e6beea5b367cdbc9a0ec110c884f937110441f688d6ff1d8079">
                        <el-button class='rbtn' v-popover:qqBtnPop><i class="fa fa-qq"></i></el-button>
                    </a>

                </div>
                <div class="btnGrp2">
                    <el-popover ref="tutorBtnPop" placement="right" width="auto" v-model="tutorBtnPopVis" trigger="hover">
                        <div class="popTitle">显示／隐藏教程中心</div>
                    </el-popover>
                    <el-button class='rbtn' @click='xsetTutorBoxVis' v-popover:tutorBtnPop>
                        <i class="fa fa-book" v-bind:class='{btnOn:tutorBoxDis!="none",btnOff:tutorBoxDis=="none"}' style='font-weight: bold;'></i>
                    </el-button>

                    <el-popover ref="coderBtnPop" placement="right" width="auto" v-model="coderBtnPopVis" trigger="hover">
                        <div class="popTitle">显示／隐藏代码编辑器</div>
                        <div class="popBody">
                            <div>您也可以手工拉动边框调整编辑器大小</div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='xsetCodeBoxVis' v-popover:coderBtnPop>
                        <i class="fa fa-code" v-bind:class='{btnOn:codersBoxVis,btnOff:!codersBoxVis}' style='font-weight: bold;'></i>
                    </el-button>

                    <el-popover ref="aboutBtnPop" placement="right" width="auto" v-model="aboutBtnPopVis" trigger="hover">
                        <div class="popTitle">关于10knet和我的信息</div>
                        <div class="popBody">
                            <div>欢迎您随时打扰～</div>
                        </div>
                    </el-popover>
                    <el-button class='rbtn' @click='aboutDialogConf.show=true' v-popover:aboutBtnPop><i class="fa fa-info"></i></el-button>
                </div>
                <div style='height:8px'></div>
            </div>

            <dbox xid='tutorBox' class="tutorBox" :conf='tutorDBoxConf' :display='tutorBoxDis'>
                <div class="tutorContent">
                    <component :is="tutorView" xid='tutorCom'></component>
                </div>
            </dbox>

            <dbox class="left" :conf='codersDBoxConf' v-show='codersBoxVis' xid='codersBox' display='flex'>
                <dbox :conf='cssDBoxConf' xid='cssCoderBox' useBottom='true' hei='30%' barSize='5' style='position:relative'>
                    <div v-if='!coderLoaded' class="hvcenter">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        <small>...载入中...</small>
                    </div>

                    <component :is="coderView" xid='cssCoder' class='coderDiv' mode='css' v-bind:data='cssData' v-bind:keyupFn='refreshCss'>
                        <el-popover ref="cssHudPop" placement="left" width="auto" v-model="cssHudPopVis" trigger="hover">
                            <div class="popBody2">
                                <div>编码时自动同步刷新
                                    <br>点击按钮手工刷新并美化代码格式</div>
                            </div>
                        </el-popover>
                        <el-button class='tagbtn' size='mini' @click='beautifyCode("css")' v-popover:cssHudPop>&nbsp;css&nbsp;</el-button>
                    </component>
                </dbox>
                <dbox :conf='bodyDBoxConf' xid='bodyCoderBox' style='position:relative'>
                    <div v-if='!coderLoaded' class="hvcenter">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        <small>...载入中...</small>
                    </div>

                    <component :is="coderView" xid='bodyCoder' class='coderDiv' mode='text/html' v-bind:data='bodyData' v-bind:keyupFn='refreshBody'>
                        <el-popover ref="bodyHudPop" placement="left" width="auto" v-model="bodyHudPopVis" trigger="hover">
                            <div class="popBody2">
                                <div>编码时自动同步刷新
                                    <br>点击按钮手工刷新并美化代码格式</div>
                            </div>
                        </el-popover>

                        <el-button class='tagbtn' size='mini' @click='beautifyCode("body")' v-popover:bodyHudPop>&nbsp;body&nbsp;</el-button>
                    </component>
                </dbox>
                <div class='autoFlex'>
                    <div style="height:100%;position:relative;">
                        <div v-if='!coderLoaded' class="hvcenter">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <small>...载入中...</small>
                        </div>

                        <component :is="coderView" xid='jsCoder' class='coderDiv' mode='javascript' v-bind:data='jsData' v-bind:keyupFn='refreshJs'>
                            <el-popover ref="jsHudPop" placement="left" width="auto" v-model="jsHudPopVis" trigger="hover">
                                <div class="popBody2">
                                    <div>编码时回车键同步刷新
                                        <br>点击按钮手工刷新并美化代码格式</div>
                                </div>
                            </el-popover>

                            <el-button class='tagbtn' size='mini' @click='beautifyCode("js")' v-popover:jsHudPop>&nbsp;js&nbsp;<i class="fa fa-arrow-right"></i></el-button>
                        </component>
                    </div>
                </div>
            </dbox>
            <div class="right">
                <iframe preview src="templates/preview/preview.html"></iframe>
            </div>
        </div>
        <div id='dialogs'>
            <page-templates v-bind:conf='pageTempDialogConf'></page-templates>
            <page-set v-bind:conf='setDialogConf'></page-set>
            <share-html v-bind:conf='shareDialogConf'></share-html>
            <about v-bind:conf='aboutDialogConf'></about>
            <account v-bind:conf='accountDialogConf'></account>
            <set-acc-page v-bind:conf='setAccPageDialogConf'></set-acc-page>
        </div>
    </div>
</template>
<style scoped>
    .tutorBox {
        min-width: 120px;
        background: #AAA;
        border-left: 1px solid #888;
        margin-right: -1px;
        max-width: 40%;
    }

    .tutorContent {
        margin: 18px 12px 18px 18px;
        height: 100%;
        overflow-y: auto;
    }

    .el-message-box {
        -webkit-user-select: none;
    }

    .hvcenter {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #666;
        -webkit-font-smoothing: antialiased;
    }

    .popTitle {
        font-size: 14px;
        font-weight: bold;
        margin: 8px;
    }

    .popBody {
        font-size: 12px;
        margin: 8px;
    }

    .popBody2 {
        font-size: 12px;
        margin: 2px;
    }

    .avatarMini {
        width: 18px;
        height: 18px;
        border-radius: 18px;
        border: 1px solid #CCC;
        margin: -4px;
    }

    .btnOn {
        color: #FFF;
    }

    .btnOff {
        color: #666;
    }

    .btnGrp1 {
        flex: auto;
        flex-grow: 1;
        text-align: center;
    }

    .btnGrp2 {
        flex: initial;
        text-align: center;
    }

    .coderDiv {
        border-left: 1px solid #BBB
    }

    .tagbtn {
        background: rgba(180, 180, 180, 0.75);
        border: none;
        width: 40px;
    }

    .tagbtn:hover {
        color: #FFF;
    }

    .tagbtn:focus {
        color: #FFF;
    }

    .sideBar {
        width: 40px;
        background: #AAA;
        display: flex;
        flex-direction: column;
    }

    .sideBar .rbtn {
        border-radius: 4px;
        width: 32px;
        margin: 2px 4px;
        border: none;
        font-size: 14px;
        background: none;
        padding: 8px;
        text-align: center;
    }

    .sideBar .rbtn:hover {
        margin: 1px 3px;
        background: #CCC;
        border: 1px solid #999;
    }

    .autoFlex {
        flex: 1;
        flex-grow: 1;
        overflow: auto;
    }

    iframe {
        border-style: none;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .full {
        position: absolute;
        margin-top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    .mainBox {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        flex: 1;
    }

    .left {
        flex: initial;
        min-width: 200px;
        background-color: #888;
        display: flex;
        align-items: stretch;
        flex-flow: column nowrap;
    }

    .right {
        min-width: 200px;
        flex: auto;
        background-color: #FFF;
    }

    .set {
        height: 32px;
        flex: initial;
        background-color: #BBB;
    }

    .html {
        flex: 1;
        background: #EEE;
    }

    .css {
        flex: 1;
        background: #DDD;
    }

    .js {
        flex: 1;
        background: #CCC;
    }

</style>
