<script src="./GitBar.js"></script>

<template>
    <div id='GitBar' xid='GitBar'>
        <el-button type="primary" size='small' class='valigntop' v-if='!myInfo'>
            <a v-bind:href='loginUrl' style="color:#FFF" v-if='!myInfo'>
                <span>Github登录账号</span>
            </a>
        </el-button>

        <div class="avatar-min valigntop" v-if='myInfo'>
            <img v-bind:src="myInfo?myInfo.avatar_url:''" height='100%'>
        </div>

        <el-dropdown type="primary" size='small' class='valigntop' v-if='myInfo'>
            <el-button type="primary" size='small'>
                <span v-if='myInfo'>
                {{myInfo.login||'未知'}}&nbsp;<i class="fa fa-caret-down"></i>
                </span>
            </el-button>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                    <a @click='logout'>注销退出</a>
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>

        <el-button type="primary" size='small' class='valigntop' v-if='myInfo && (!projects || projects.length<1)' @click='showNewProjectDialog' style='margin-left:1px'> + 新建项目</el-button>

        <el-dropdown style='margin-left:1px' @command="actProject" v-if='projects && projects.length>0'>
            <el-button type="primary" size='small' v-show='projectAct'>
                <i class="fa fa-folder-open"></i>&nbsp;{{projectAct?projectAct.name:'未知'}}&nbsp;<i class="fa fa-caret-down"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" class='ddbox'>
                <el-dropdown-item>
                    <el-button @click='showNewProjectDialog'>+ 新建项目</el-button>
                </el-dropdown-item>

                <el-dropdown-item divided></el-dropdown-item>

                <el-dropdown-item v-for="(p,index) in projects" v-bind:command='String(index)' style='text-align:left'>
                    <span>{{p.name}}</span>
                    <el-button @click='showDelProjectDialog(p)' size='mini' class='delbtn'><i class="el-icon-close"></i></el-button>
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>

        <el-button type="primary" size='small' class='valigntop' v-if='myInfo && projectAct' @click='saveFiles' style='margin-left:1px'><i class="fa fa-cloud-upload"></i>&nbsp;保存</el-button>

        <el-button type="primary" size='small' class='valigntop' v-if='myInfo && projectAct' @click='shareUrl' style='margin-left:1px'><i class="fa fa-share"></i>&nbsp;发布</el-button>

    </div>
</template>

<style scoped>
    #GitBar {
        font-size: 0;
    }

    .delbtn {
        float: right;
        border: none;
        margin-top: 8px;
        margin-left: 24px;
        color: #CCC;
        background: inherit;
    }

    .delbtn:hover {
        color: #666;
    }

    .avatar-min {
        height: 28px;
        width: 28px;
        overflow: hidden;
        display: inline-block;
    }

    .valigntop {
        vertical-align: top;
    }

    .ddbox {
        max-height: 50%;
        overflow-y: auto;
    }

</style>
