<script src="./UserHome.js"></script>

<template>
    <div sid='UserHome' :xid='xid' style="width:100%" class='ttUserHome'>
        <el-row v-if=false id='main' type="flex" justify="center">
            <el-col :span="20" :sm="16" class='hero' style='border-radius:0'>
                <img src="http://app.10knet.com/S1AvJiWYe/quan.png" width='100%'>
            </el-col>
        </el-row>

        <el-row id='main' type="flex" justify="center" style='margin-top:18px'>
            <el-col :span="20" :sm="16">
                <el-tabs v-model="activeName" @tab-click="xgoTab()" style='width:100%'>
                    <el-tab-pane label="我的实训" name="practice">
                        <el-button type='primary' style='width:160px'> <i class='fa fa-plus' style="margin-right:12px"></i> 新 实 训</el-button>
                        <el-row v-for='(p,n) in practiceArr' style='margin:12px 0'>
                            <component is="practiceCard" :fill='p' :index='n'></component>
                        </el-row>
                    </el-tab-pane>

                    <el-tab-pane label="我的班级" name="class">
                        <el-button type='primary' style='width:160px'> <i class='fa fa-plus' style="margin-right:12px"></i> 新 班 级</el-button>
                        <el-row v-for='(p,n) in classArr' style='margin:12px 0'>
                            <component is="classCard" :fill='p' :index='n'></component>
                        </el-row>
                    </el-tab-pane>

                    <el-tab-pane id='profile' label="我的资料" name="profile">
                        <div style="text-align:left;margin-top:12px">
                            <img class="avatar" :src="accInfo.avatar" />
                            <p style="text-align:center;width:128px">{{accInfo.name}}</p>
                        </div>
                        <div style="text-align:right;margin-top:-12px">
                            <el-button type='text' style='margin-right:18px'><i class="fa fa-pencil fa-lg"></i></el-button>
                        </div>
                        <div style="border-top:1px solid #DDD;margin:4px 0 24px 0"></div>
                        <div class="txtrow">
                            <div>身份</div>
                            <div>{{accInfo.role}}</div>
                        </div>
                        <div class="txtrow">
                            <div>成就</div>
                            <div>{{accInfo.exp}}</div>
                        </div>
                        <div class="txtrow">
                            <div>院校</div>
                            <div>{{accInfo.school.title}}</div>
                        </div>
                        <div class="txtrow">
                            <div>简介</div>
                            <div>{{accInfo.brief}}</div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
        <div style="height:120px"></div>
    </div>
</template>

<style>
    .ttUserHome {
        letter-spacing: 0.2px;
    }

    .ttUserHome .el-tabs__header {
        letter-spacing: 0.05em;
    }

    .ttUserHome .el-tabs__header {
        background: #FAFAFA;
        border: 0;
    }

    .ttUserHome .el-tabs__active-bar {
        height: 100%;
    }

    .ttUserHome .el-tabs__header .is-active {
        color: #FFF;
        z-index: 3;
    }

    .ttUserHome .el-tabs__item {
        padding: 0 32px;
    }

</style>

<style scoped>
    .hero {
        height: 150px;
        overflow: hidden;
        border-radius: 0;
        margin-top: 12px
    }

    .txtrow {
        text-align: left;
        width: 100%;
        height: 36px;
        font-size: 14px;
        display: flex;
    }

    .txtrow div {
        display: inline-block;
    }

    .txtrow div:first-child {
        color: #888;
        font-weight: 100;
        width: 80px;
        flex: initial;
        text-align: left;
        display: inline-block;
        margin-right: 1%;
        vertical-align: top;
    }

    .txtrow div:last-child {
        flex: 1;
        font-weight: bold;
        text-align: left;
        display: inline-block;
        vertical-align: top;
    }

    .avatar {
        width: 128px;
        height: 128px;
        border-radius: 128px;
        border: 1px solid #AAA;
    }

    .el-tabs__content {
        overflow: visible
    }

    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

</style>
