/*全站样式文件，任何component模版内可以使用，在elements ui样式之后*/


/*常用标记选择器*/

body {
    font-family: Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", SimSun, Helvetica, Tahoma, sans-serif;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    -webkit-font-smoothing: antialiased;
}
a {
    color: #1cbbb4;
    text-decoration: none;
}
a:-webkit-any-link {
    color: #1cbbb4;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

/*修复element-ui遗漏的样式*/

.el-notification__content {
    font-size: 13px;
    line-height: 21px;
    margin: 10px 0 0;
    color: #8391a5;
    text-align: justify;
    font-weight: 200;
}
.el-notification__title {
    font-weight: 400;
    font-size: 15px;
    color: #1f2d3d;
}

/*常用class类选择器*/


/*常用id名选择器*/
