<script src="./NavBar.js"></script>
<template>
    <div id='NavBar'>
        <el-menu theme="dark" default-active="1" class="el-menu fixed flexbox" mode="horizontal" @select="handleSelect" v-bind:style='{"background-color":bgColor}'>
            <el-menu-item class='NavBarMenu' index="welcome" v-bind:class='{wt:(bgColor=="inherit"),"actbg":(activeMenu=="welcome")}'>&nbsp;10KNET&nbsp;</el-menu-item>
            <el-menu-item class='NavBarMenu' index="kk" v-bind:class='{wt:(bgColor=="inherit"),"actbg":(activeMenu=="kk")}'>Kk</el-menu-item>
            <el-menu-item class='NavBarMenu' index="nn" v-bind:class='{wt:(bgColor=="inherit"),"actbg":(activeMenu=="nn")}'>Nn</el-menu-item>
            <el-menu-item class='NavBarMenu' index="ee" v-bind:class='{wt:(bgColor=="inherit"),"actbg":(activeMenu=="ee")}'>Ee</el-menu-item>
            <el-menu-item class='NavBarMenu' index="tt" v-bind:class='{wt:(bgColor=="inherit"),"actbg":(activeMenu=="tt")}'>Tt</el-menu-item>
            <div style="flex:1"></div>

            <div v-if='false' desc='临时屏蔽登录和注册'>
                <el-menu-item index="login" class='rf' v-if='!myProfile.name' v-bind:class='(bgColor=="inherit")?"wt":""'>登录</el-menu-item>
                <el-menu-item index="reg" class='rf' v-if='!myProfile.name' v-bind:class='(bgColor=="inherit")?"wt":""'>注册</el-menu-item>

                <el-submenu index="user" class='rf' v-if='myProfile.name'>
                    <template slot="title">
                        <div class="disib" v-bind:class='(bgColor=="inherit")?"wt":""'>
                            <img class='avatar' v-bind:src="myProfile.thum?myProfile.thum:imgs.avatarDefault" width="32px" style='margin-top:12px'>
                            <div class='disib uname'>{{myProfile.name}}</div>
                        </div>
                    </template>
                    <el-menu-item index="home">我的首页</el-menu-item>
                    <el-menu-item index="profile">资料设置</el-menu-item>
                    <el-menu-item index="logout">注销账号</el-menu-item>
                </el-submenu>
            </div>
        </el-menu>
    </div>
</template>

<style scoped>
    .fixed {
        position: fixed;
        width: 100%;
    }

    .flexbox {
        display: flex
    }

    .rf {
        float: right
    }

    .wt {
        color: white
    }

    .light {
        color: rgb(192, 204, 218);
    }

    .avatar {
        border-radius: 32px;
    }

    .disib {
        display: inline-block;
        vertical-align: top
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .uname {
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    /*    取消is-active类，改用actbg表示激活*/

    .el-menu-item.is-active {
        color: #c0ccda;
    }

    .actbg {
        background: #1c758a;
        border-bottom: 5px solid #1cbbb4;
    }

</style>
