<script src="./Dbox.js"></script>

<template>
    <div id='Dbox' :xid='xid||"Dbox"' v-bind:style='{width:conf.width,height:conf.height,display:display}'>
        <div v-if='conf.useLeft' class="vbar" @mousedown='startDrag($event,"left")' :style='{width:conf.barSize+"px","background-color":conf.barColor}'></div>
        <div class='box'>
            <div v-if='conf.useTop' class="hbar" @mousedown='startDrag($event,"top")' :style='{height:conf.barSize+"px","background-color":conf.barColor}'></div>
            <div class='box2'>
                <slot></slot>
            </div>
            <div v-if='conf.useBottom' class="hbar" @mousedown='startDrag($event,"bottom")' :style='{height:conf.barSize+"px","background-color":conf.barColor}'></div>
        </div>
        <div v-if='conf.useRight' class="vbar" @mousedown='startDrag($event,"right")' :style='{width:conf.barSize+"px","background-color":conf.barColor}'></div>
    </div>
</template>

<style scoped>
    #Dbox {
        display: flex;
        flex-direction: row
    }

    .box {
        flex: auto;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .box2 {
        flex: 100;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .vbar {
        width: 10px;
        height: 100%;
        flex: none;
        background: #BBB;
        cursor: col-resize;
        border-right: 1px solid #CCC;
    }

    .hbar {
        width: 100%;
        height: 10px;
        flex: none;
        background: #BBB;
        cursor: row-resize;
        border-top: 1px solid #CCC;
    }

</style>
